
MINIO_VOLUMES="{{ minio_data_dirs | join(' ') }}"

MINIO_OPTS="--config-dir /etc/minio --address {{ minio_server_addr }}:{{minio_server_port}} {{ minio_server_opts }}"

{% if minio_access_key is defined %}

MINIO_ACCESS_KEY="{{ minio_access_key }}"
{% endif %}
{% if minio_secret_key is defined %}

MINIO_SECRET_KEY="{{ minio_secret_key }}"
{% endif %}
